
<div id="footer">
    <div class="lower_wave_box">
        <img src="../../../assets/lower_wave.svg" alt="wave-svg">
    </div>
    <div class="travelling_man_image_box">
        <img src="../../../assets/travelling_man_1.webp" alt="">
    </div>
    <div class="content_container">
        <div class="content_box_1">
            <h2 style="color: #ff6b00;">Company Info</h2>
            <p style="font-weight: 900;">A good plus of traveling is that often you get new skills without difficulty and without even noticing it.</p>
        </div>
        <div class="content_box_2">
            <h2 style="color: #ff6b00;">Contact Us</h2>
            <!-- contat number -->
            <div class="contact_box">
                <div class="contact_icon_box">
                    <img src="../../../assets/phone_icon.svg" alt="phone">     
                </div>
                <div class="contact_box_content">
                    <h4 >+91 99089-98564</h4>
                </div>
               
            </div>
            <!-- location, Address -->
            <div class="contact_box">
                    <div class="contact_icon_box">
                        <img src="../../../assets/location_icon.svg" alt="location">
                    </div>
                    <div class="contact_box_content">
                        <h4>719, Fortune business hub, Ahmedabad - 380060.</h4>
                    </div>
            </div>
            <!-- time/clock  -->
            <div class="contact_box">
                <div class="contact_icon_box">
                    <img src="../../../assets/time_icon.svg" alt="office-time">
                </div>
                <div class="contact_box_content">
                    <h4>Mon - Sat 8.00 - 18.000.</h4>
                </div>
        </div>
        </div>
    </div>
</div>
