<div>
  <div id="listDataPage_Cover">
    <app-navbar
      (closeStatus)="handleStatus($event)"
      (closeStatusForListPage)="handleStatusForListPage($event)"
      [handleisListPageSelectedTag]="handleisListPageSelected"
      ></app-navbar>
    <h1>Your planning ...</h1>
    <div id="card_container">
      <div class="card" *ngFor="let ele of data; let i = index">
        <div>
          <h2>{{ i + 1 }}).</h2>
          <h2>
            Place : <span class="data_text">{{ ele?.city }}</span>
          </h2>
          <h3>
            Duration :
            <span class="data_text">{{ ele?.date.start_date }}</span> to
            <span class="data_text">{{ ele?.date.end_date }}</span>
          </h3>
          <p class="" (click)="handleCardModel(ele._id)">more information</p>
        </div>
      </div>

      <app-card-model
        (closeCardModel)="cardModelClose($event)"
        *ngIf="isSelectedForCardModel"
        [cardData]="cardData"
        [placeName]="placeName"
      ></app-card-model>

      <app-add-details
        *ngIf="isSelectedAddPage"
        (changeStatus)="statusChanged($event)"
      ></app-add-details>
    </div>
  </div>
</div>
