<div
  style="
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
  "
>
  <div
    style="
      border-radius: 10px;
      width: 600px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      justify-content: space-evenly;
      position: relative;
      opacity: 1;
    "
  >
    <div
      style="position: absolute; top: 8px; right: 8px; cursor: grab"
      (click)="handleModuleClose()"
      class="cross_icon"
    >
      ❌
    </div>
    <div id="card_details">
      <div id="coverImage_box">
        <img src="{{ imageUrl }}" alt="" />
      </div>
      <div id="card_content_box">
        <h2 id="place_name">{{ cardData?.city }}</h2>
        <h3 id="date_timeline">
          {{ cardData?.date.start_date }} to {{ cardData?.date.end_date }}
        </h3>
        <h4 id="budget_currency">
          Expected budget :
          <span id="budeget_currency_value"
            >{{ cardData?.budget }} {{ cardData?.currency }}</span
          >
        </h4>
      </div>
    </div>

    <div id="container">
      <div>
        <h2>{{ cardData?.food }}</h2>
        <p>FOOD</p>
      </div>
      <div>
        <h2>{{ cardData?.travelling }}</h2>
        <p>TRAVELLING</p>
      </div>

      <div>
        <h2>{{ cardData?.accomodation }}</h2>
        <p>ACCOMODATION</p>
      </div>
    </div>
  </div>
</div>
