<div id="steps_container">
  <!-- Card - 1 -->
  <div class="left_side_card">
    <div class="left_side_image_box">
      <img src="../../../assets/left_side.svg" alt="left-side direction" />
    </div>
    <div class="left_side_icon_box">
      <img src="../../../assets/destination.svg" alt="Destination_Cover" />
    </div>
    <div class="left_side_content_continer">
      <h2>1. Choose your destination</h2>
      <h3>
        The first step in planning your trip is to decide where you want to go.
        Consider your interests, budget, and the amount of time you have
        available for travel. If you are on a tight budget, consider travelling
        to a destination that is more affordable. If you are interested in
        exploring a new culture, consider travelling to a country that is vastly
        different from your own.
      </h3>
    </div>
  </div>

  <!-- Card - 2 -->
  <div class="right_side_card">
    <div class="right_side_content_continer">
      <h2>2. Research your destination</h2>
      <h3>
        Once you have decided on a destination, it is important to research it
        thoroughly. Look up information about the local customs, language,
        currency, and weather. Read reviews of hotels, restaurants, and
        attractions to get an idea of what to expect. Look for blogs and travel
        guides to get insider tips from locals and experienced travelers.
      </h3>
    </div>
    <div class="right_side_image_box">
      <img src="../../../assets/right_side.svg" alt="left-side direction" />
    </div>
    <div class="right_side_icon_box">
      <img
        src="../../../assets/research_destination.svg"
        alt="Destination_Cover"
      />
    </div>
  </div>

  <!-- Card- 3 -->
  <div class="left_side_card">
    <div class="left_side_image_box">
      <img src="../../../assets/left_side.svg" alt="left-side direction" />
    </div>
    <div class="left_side_icon_box">
      <img src="../../../assets/set_budget.svg" alt="Destination_Cover" />
    </div>
    <div class="left_side_content_continer">
      <h2>3. Set a budget</h2>
      <h3>
        Travel can be expensive, so it is important to set a budget before you
        start planning your trip. Consider the cost of flights, accommodations,
        food, transportation, and activities. Be realistic about what you can
        afford, and be prepared to make some sacrifices if necessary.
      </h3>
    </div>
  </div>

  <!-- Card - 4 -->
  <div class="right_side_card">
    <div class="right_side_content_continer">
      <h2>4. Book your flights and accommodations</h2>
      <h3>
        Once you have a budget in place, it is time to start booking your
        flights and accommodations. Use travel websites and search engines to
        find the best deals on flights and hotels. Consider staying in a hostel
        or Airbnb to save money on accommodations.
      </h3>
    </div>
    <div class="right_side_image_box">
      <img src="../../../assets/right_side.svg" alt="left-side direction" />
    </div>
    <div class="right_side_icon_box">
      <img
        src="../../../assets/travelling_accomodation-1.svg"
        alt="Destination_Cover"
      />
    </div>
  </div>

  <!-- Card- 5 -->
  <div class="left_side_card">
    <div class="left_side_image_box">
      <img src="../../../assets/left_side.svg" alt="left-side direction" />
    </div>
    <div class="left_side_icon_box">
      <img
        src="../../../assets/schedule_itarnary.svg"
        alt="Destination_Cover"
      />
    </div>
    <div class="left_side_content_continer">
      <h2>5. Plan your itinerary</h2>
      <h3>
        When planning your itinerary, be sure to leave some flexibility in your
        schedule. You never know what unexpected adventures might come your way.
        However, it is also important to have a rough plan in place to ensure
        that you make the most of your time in your destination. Make a list of
        must-see attractions and activities, and schedule them into your
        itinerary.
      </h3>
    </div>
  </div>

  <!-- Card - 6 -->
  <div class="right_side_card">
    <div class="right_side_content_continer">
      <h2>6. Pack wisely</h2>
      <h3>
        When packing for your trip, be sure to pack light and only bring
        essentials. Consider the weather and the activities you have planned,
        and pack accordingly. Be sure to also bring any necessary travel
        documents, such as your passport or visa.
      </h3>
    </div>
    <div class="right_side_image_box">
      <img src="../../../assets/right_side.svg" alt="left-side direction" />
    </div>

    <div class="right_side_icon_box">
      <img
        src="../../../assets/backpack-svgrepo-com.svg"
        alt="Destination_Cover"
      />
    </div>
  </div>

  <!-- Card- 7 -->
  <div class="left_side_card">
    <div class="left_side_image_box">
      <img src="../../../assets/left_side.svg" alt="left-side direction" />
    </div>
    <div class="left_side_icon_box">
      <img src="../../../assets/stay_safe.svg" alt="Destination_Cover" />
    </div>
    <div class="left_side_content_continer">
      <h2>7. Stay safe</h2>
      <h3>
        Safety should always be a top priority when traveling. Be aware of your
        surroundings and keep your belongings close at all times. Avoid
        traveling alone at night, and stick to well-lit areas. Research any
        potential safety concerns in your destination before you go.
      </h3>
    </div>
  </div>
</div>
