<div
  style="
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: fantasy;
    z-index: 5000;
  "
>
  <div
    style="
      border-radius: 10px;
      width: 600px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      justify-content: space-evenly;
      position: relative;
      opacity: 1.0;
      font-family: fantasy;
    "
  >
    <div
      style="position: absolute; top: 8px; right: 8px; cursor: grab"
      (click)="handleModuleClose()"
      class="cross_icon"
    >
      ❌
    </div>
    <!-- <div class="animate__animated animate__fadeIn animae_delay-2s">
      Hello, world!
    </div> -->
    
    <!-- Form - 1 -->
    <form *ngIf="isForm1" action="">
      <h1 id="heading">Listing data ...</h1>
      <div class="input_field">
        <img
          class="input_icon"
          src="../../../assets/place_visit.svg"
          alt="location"
        />
        <input
          class="input_box"
          type="text"
          placeholder="visiting places"
          name="city"
          [(ngModel)]="city"
        />
      </div>
      <div class="date_input_field">
        <input
          class="date_input_box-1"
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          placeholder="start date"
          name="start_date"
          [(ngModel)]="start_date"
        />
        <input
          class="date_input_box-2"
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          placeholder="end date"
          name="end_date"
          [(ngModel)]="end_date"
        />
      </div>
      <!-- <input type="submit" value="submit" /> -->

      <div class="directions_button_box">
        <button (click)="handleFormBack(1)">Back</button>
        <button (click)="handleForm1Submit()">Next</button>
      </div>
    </form>

    <!-- Form - 2 -->
    <form *ngIf="isForm2">
      <div class="budget_input_field">
        <img
          src="../../../assets//budget.svg"
          alt="budget"
          class="budget_icon"
        />

        <input
          class="budget_input_box"
          type="text"
          onfocus="(this.type='number')"
          onblur="(this.type='text')"
          placeholder="mention your budget"
          name="budget"
          [(ngModel)]="budget"
        />
        <select
          class="budget_select_option"
          name="currency"
          id=""
          [(ngModel)]="currency"
        >
          <option value="₹/-">₹/-</option>
          <option value="$">$</option>
          <option value="£">£</option>
        </select>
      </div>

      <div class="travelling_field">
        <img
          src="../../../assets//travelling.svg"
          class="travelling_icon"
          alt="travelling"
        />
        <p>Travelling :</p>
        <input
          type="radio"
          value="Air"
          name="travelling"
          [(ngModel)]="travelling"
        />
        <label for="">Air</label>
        <input
          type="radio"
          value="Train"
          name="travelling"
          [(ngModel)]="travelling"
        />
        <label>Train</label>
        <input
          type="radio"
          value="Bus"
          name="travelling"
          [(ngModel)]="travelling"
        />
        <label>Bus</label>
      </div>

      <div class="packing_field">
        <img
          src="../../../assets/packing.svg"
          alt="packing"
          class="packing_icon"
        />
        <p>Things to carry :</p>
        <a href="">https://youtu.be/MzStZKU7Iqk</a>
      </div>

      <!-- <input type="submit" value="submit" /> -->
      <div class="directions_button_box">
        <button (click)="handleFormBack(2)">Back</button>
        <button (click)="handleForm2Submit()">Next</button>
      </div>
    </form>

    <!-- Form - 3 -->
    <form action="" *ngIf="isForm3" (ngSubmit)="handleSubmit()">
      <div class="accomodation_input_field">
        <img
          src="../../../assets/hotel-hostel-svgrepo-com.svg"
          class="accomodation_icon"
          alt=""
        />
        <h4>Accomodation :</h4>
        <select
          name=""
          class="accomodation_select_box"
          [(ngModel)]="accomodation"
          name="accomodation"
        >
          <option value="Hotel">Hotel</option>
          <option value="Doormatry">DoorMatry</option>
          <option value="Tent">Tent</option>
          <option value="Ressort">Ressort</option>
        </select>
      </div>

      <div class="food_input_field">
        <img src="../../../assets//food.svg" alt="food" class="food_icon" />
        <h4>Food :</h4>
        <select name="" class="food_select_box" [(ngModel)]="food" name="food">
          <option value="Restaurent">Restaurent</option>
          <option value="Banquet">Banquet</option>
          <option value="Local">Local</option>
        </select>
      </div>

      <div class="directions_button_box">
        <button (click)="handleFormBack(3)">Back</button>
        <input type="submit" value="submit" class="submit_button" />
      </div>
    </form>

    <!-- data- continor -->
    <div *ngIf="isDataContiner" id="data_container">
      <div>
        <h2 style="margin: 0; padding: 0">Your planned data</h2>
        <hr style="margin: 0" />
        <h4>
          Place :<span>{{ data.city }}</span>
        </h4>
        <h4>
          Duration:
          <span>{{ data.date?.start_date }} to {{ data.date?.end_date }}</span>
        </h4>
        <h4>
          Travelling budget:
          <span>{{ data.budget }} {{ data.currency }} </span>
        </h4>
        <h4>
          Food :<span>{{ data.food }}</span>
        </h4>
        <h4>
          Travelling : <span>{{ data.travelling }}</span>
        </h4>
        <h4>
          Accomodation: <span>{{ data.accomodation }}</span>
        </h4>
      </div>
    </div>
  </div>
</div>
