.cross_icon {
  padding: 5px;
}

.cross_icon:hover {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 4px;
}

.input_field {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input_icon {
  position: absolute;
  left: 0;
}

.input_box {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  outline: none;
}
