#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: "Popins";
  opacity: 0.7;
  letter-spacing: 1.5px;
  /* padding: 0.5% 0; */
  z-index: 99;
}

.navbar_box_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  /* font-family: Monospace;     */
}

.navbar_box_2 {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.navbar_box_2 > button {
  font-size: 20px;
  padding: 10px 30px;
  border: 2px solid darkgrey;
}
.navbar_box_2 > button:hover {
  border-radius: 15px;
  cursor: grab;
}

.listPage,
.homePage {
  cursor: grab;
}
